* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    margin: 0;
    font-size: 16px;
    background-color: 46220f;
    text-decoration: none;
}

:root {
    --border-color: #fff5;
    --w-image: 500px;
    --calculate: calc(3 / 2);
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80px;
    position: relative;
    z-index: 10;
    border-bottom: 2px solid black;
    background-color: #fff;
}

header .logo img {
    width: ;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header nav a {
    color: #000;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
}

header nav a:hover {
    color:#fff;
    cursor: pointer;
    font-size: 1.6em;
    background-color: #46220f;
    border-radius: 12px;
    transition: .5s;
}

header nav ul {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding-right: 30px;
}

header nav {
    border-left: 1px solid var(--border-color);
}

.carousel {
    margin-top: -80px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel .list {
    height: 100%;
    position: relative;
}



.carousel .list .item {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item .image {
    width: var(--w-image);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-weight: 500;
}

.carousel .list .item .image img {
    width: 100%;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 0.75rem black);
}

.carousel .list .item .image figcaption {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: bold;
    font-size: 1.3em;
    text-align: right;
    margin-bottom: 30px;
    width: 70%;
}

.carousel .list .item .main-content {
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - calc(var(--w-image) * var(--calculate)));
}
.carousel .list .item .main-content .content {
    padding: 150px 20px 20px 80px;
}

.image figcaption {
    color: #000;
}

.carousel .list .item .main-content .content h2 {
    font-size: 3.5em;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

.card {
    border-radius: 0;
    border: none;
}

.carousel .list .item .main-content .content .price {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-size: 3em;
    margin: 20px 0;
}

.carousel .list .item .main-content .content .addToCard {
    background-color: transparent;
    color: #4f8b69;
    padding: 10px 30px;
    font-family: Poppins;
    font-size: large;
    font-weight: 500;
    border-radius: 30px;
    border: 1px solid #4f8b69;
    margin-top: 20px;
    width: 30%;
}

.carousel .list .item .main-content .content .addToCard:hover {
    background-color: #254c36;
    color: #fff;
    transition: .5s;
}

.arrows {
    position: absolute;
    bottom: 20px;
    width: calc(99% - calc(var(--w-image) * var(--calculate)));
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: 50px;
    justify-content: end;
    gap: 10px;
}

.arrows button {
    background-color: #46220f;
    border: 1px solid var(--border-color);
    color: #fff;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    line-height: 0;
    box-sizing: 0 10px 40px #5555;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50px;
}

.arrows button:hover {
    background-color: transparent;
    color: #46220f;
}

.carousel .list .item.active,
.carousel .list .item.other_1,
.carousel .list .image.other_2 {
    display: block;
}

.carousel .list .item.active {
    z-index: 2;
}

.carousel .list .item.item.other_1,
.carousel .list .item.item.other_2 {
    pointer-events: none;
}

.carousel .list .item.active .main-content {
    animation: showContent 1.5s ease-in-out 1 forwards;
}

@keyframes showContent {
    from{
        clip-path: circle(0% at 70% 50%);
    }to{
        clip-path: circle(100% at 70% 50%);
    }
}

/* NEXT EFFECT */
.next .item.other_1 {
    z-index: 1;
}

.next .item .image img {
    animation: effectNext 0.8s ease-in-out 1 forwards;
}
.next .item .image figcaption {
    animation: effectNext 0.5s ease-in-out 1 forwards;
}

@keyframes effectNext {
    from{
        transform: translateX(calc(var(--transform-from)));
    }to{
        transform: translateX(calc(var(--transform-from) - var(--w-image)));
    }
}

.next .list .item.active .image {
    --transform-from: var(--w-image);   
}

.next .list .item.other_1 .image {
    z-index: 3;
    --transform-from: 0px;
    overflow: hidden;
}

.next .list .item.other_2 .image {
    z-index: 3;
    --transform-from: calc(var(--w-image) * 2);
}

.arrows {
    z-index: 10;
}

/* PREV EFFECT */
.prev .list .item .image img {
    animation: effectPrev 0.8s ease-in-out 1 forwards;
}
.prev .list .item .image figcaption {
    animation: effectPrev 0.5s ease-in-out 1 forwards;
}
@keyframes effectPrev {
    from{
        transform: translateX(calc(var(--transform-from)));
    }to{
        transform: translateX(calc(var(--transform-from) + var(--w-image)));
    }
}

.prev .item.other_2 {
    z-index: 1;
    opacity: 100;
}

.prev .list .item.active .image {
    --transform-from: calc(var(--w-image) * -1);
    overflow: hidden;
}

.prev .list .item.other_1 .image {
    --transform-from: 0px;
    z-index: 3;
}

.prev .list .item.other_2 .image {
    --transform-from: var(--w-image);
    z-index: 3;
    opacity: 0;
}

/* INTRODUÇÃO DE PRODUTO */
.container {
    background-color: ;
}
.coluna2 {
    border-right: 1px solid #46220f;
}
.coluna2 p {
    margin-top: 20px;
    font-size: 1.2rem;
}
.coluna2 ul {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}
.coluna2 li {
    text-align: center;
}
.coluna2 .card {
    padding: 10px;
    align-items: center;
    cursor: pointer;
}
.coluna2 .card:hover {
    background-color: #4f8b69;
    color: #fff;
    border-radius: 12px;
}
.coluna2 li img {
    padding: 10px 0;

}
.coluna1 img {
    height: 500px;
    border-radius: 12px;
}
.text-colored {
    color: #c57d56;
}
.saiba-mais {
    background-color: transparent;
    color: #4f8b69;
    padding: 10px 30px;
    font-family: Poppins;
    font-size: large;
    font-weight: 500;
    border-radius: 30px;
    border: 1px solid #4f8b69;
    margin-top: 20px;
    width: 40%;
}
.saiba-mais:hover {
    background-color: #254c36;
    color: #fff;
    transition: .5s;
}

/* CARDÁPIO */
#cardapio {
    background-image: url("./img mid/Fruit-bev-slideshow-NEWER-Shutterstock-forCMS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100vw;
}
.menu-mid {
    display: grid;
    align-items: center;
    justify-content: end;
    margin-right: 10%;
}
.menu-mid .container {
    justify-content: end;
}
.container-mid {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100vh;
    width: 100vw;
    padding: 10px 0;
}
.container-mid img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 12px;
}
.card-img-overlay {
    background-color: ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.menu-mid .card {
    background-color: red;
    width: 40vw;
    height: 500px;
    padding: 0;
    border-radius: 12px;
}

/* CARDS */
/* CARD 1 */
.cards-end {
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
    border: 1px solid red;
    background-color: ;
}
.cards-end .card {
    height: 60%;
    width: 30%;
    border-radius: 50px;
    background: linear-gradient(135deg, #ffe5c4, #efd3b0, #d9a869);
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: #05471100 40px 50px 25px, #02140033 0px 25px 25px;
}
.glass {
    transform-style: preserve-3d;
    position: absolute;
    height: 96%;
    width: 96%;
    inset: 8px;
    background: linear-gradient(#ffffff59, #ffffffd0);
    border-radius: 55px;
    border-top-right-radius: 100%;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0.5s ease-in-out;
    transform: translate3d(0, 0, 6px);
}
.cartao {
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
}
.cartao .circle {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ffe5c4;
    top: 0;
    right: 0;
    box-shadow: #64646f33 -10px 10px 20px;
    transition: 0.5s ease-in-out;
    backdrop-filter: blur(5px);
}
.cartao .circle1 {
    width: 170px;
    transform: translate3d(0, 0, 2px);
    top: 8px;
    right: 8px;
    transition-delay: 0.0s;
}
.cartao .circle2 {
    width: 140px;
    transform: translate3d(0, 0, 4px);
    top: 10px;
    right: 10px;
    transition-delay: 0.4s;
}
.cartao .circle3 {
    width: 110px;
    transform: translate3d(0, 0, 6px);
    top: 17px;
    right: 17px;
    transition-delay: 0.8s;
}
.cartao .circle4 {
    width: 80px;
    transform: translate3d(0, 0, 8px);
    top: 23px;
    right: 23px;
    transition-delay: 1.2s;
}
.cartao .circle5 {
    width: 50px;
    transform: translate3d(0, 0, 10px);
    top: 30px;
    right: 30px;
    transition-delay: 1.6s;

    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo {
    padding: 100px 60px 0 30px;
}
.conteudo h1 {
    color: #46220f;
    font-weight: 900;
    font-size: 40px;
}
.conteudo p {
    margin-top: 10px;
    padding-bottom: 20px;
}
.footer-cards {
    transform-style: preserve-3d;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    text-decoration: none; 
    font-size: 24px;
    padding: 0 5px;
}
.footer-cards a {
    text-decoration: none;
    color: #46220f;
    cursor: pointer;
}
.footer-cards .link-cards {
    transition: 0.2s ease-in-out;
    font-size: 20px;
    cursor: pointer;
}
.footer-cards .link-cards:hover {
    transform: translate3d(10px, 0, 10px);
}
.footer-cards .social {
    transform-style: preserve-3d;
    display: flex;
    gap: 10px
}
.footer-cards .social .social-icons {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    color: #46220f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: #efd3b0 7px 7px 5px;
    transition: 0.5s;
}


/* RESPONSIVIDADE */

@media screen and (max-width: 1023px) {
    :root{
        --calculate: 1;
        --w-image: 400px;
    }

    .carousel .list .item .main-content .content h2 {
        font-size: 3em;
    }
}

@media screen and (max-width: 767px) {
    .carousel .list .item .image {
        width: 100%;
        left: 0;
        justify-content: center;
    }
    .carousel .list .item .image figcaption {
        color: #fff;
        width: 100%;
        text-align: center;
    }
    .carousel .list .item .main-content .content {
        display: none;
    }
    .arrows {
        left: 50%;
        justify-content: center;
    }
}



